@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,100;1,300&display=swap");
@-webkit-keyframes flash {
  50% {
    background-color: white;
  }
}
@keyframes flash {
  50% {
    background-color: white;
  }
}
@-webkit-keyframes background-scroll-down {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 690px;
  }
}
@keyframes background-scroll-down {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 690px;
  }
}
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Kanit", sans-serif;
  background: rgb(10, 10, 10);
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  text-align: center;
  overflow-x: hidden;
  overflow-y: overlay;
}

#content-wrapper {
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 1000px;
  margin: 10vmin;
}

.window {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 30px;
  width: 100%;
  perspective: 1500px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.window.current {
  z-index: 1;
  opacity: 1;
}

.panel-wrapper {
  height: 100%;
  width: 100%;
}

.panel {
  --accent: rgb(0, 120, 255);
  --accent-rgb: 0, 120, 255;
  --accent-hue: 212deg;
  --text-color: rgb(200, 200, 200);
  --ushift-color: cyan;
  --dshift-color: magenta;
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  text-align: center;
  background: repeating-linear-gradient(0deg, transparent 0%, rgba(var(--accent-rgb), 0.3) 7px);
  -webkit-animation: background-scroll-down 10s linear var(--bg-anim-delay) infinite;
          animation: background-scroll-down 10s linear var(--bg-anim-delay) infinite;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: inset 0 0 100px -50px var(--accent), 0 0 10px var(--accent);
  background-blend-mode: normal;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: rotateY(var(--rot-y)) scale(var(--scale));
  transition: background-color 0.1s ease 0.3s, color 0.1s ease 0.3s, transform 0.1s ease-out;
}
.panel.flipped .panel-lining {
  opacity: 0;
}
.panel.flipped .panel-lining.backface {
  opacity: 1;
}
.panel [data-link] {
  color: var(--accent);
  text-decoration: none;
  text-shadow: 0 0;
  transition: color 0.1s ease, text-shadow 0.1s ease;
}
.panel [data-link]:hover {
  text-shadow: -2px 2px 2px;
}
.panel .panel-text {
  text-align: center;
}
.panel .panel-lining {
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  text-align: center;
  transform: translate(calc(var(--off-x) * -30 * -1px), calc(var(--off-y) * -30 * 1px)) scale(var(--scale));
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: opacity 0.5s cubic-bezier(1, -1, 0, 2);
}
.panel .panel-lining.shift {
  filter: blur(3px);
}
.panel .panel-lining.shift.up {
  transform: translate(calc(var(--off-x) * -35 * -1px), calc(var(--off-y) * -35 * 1px)) scale(var(--scale));
  color: var(--ushift-color);
}
.panel .panel-lining.shift.up.backface {
  transform: translate(calc(var(--off-x) * 35 * -1px), calc(var(--off-y) * 35 * 1px)) rotateY(180deg);
}
.panel .panel-lining.shift.down {
  transform: translate(calc(var(--off-x) * -25 * -1px), calc(var(--off-y) * -25 * 1px)) scale(var(--scale));
  color: var(--dshift-color);
}
.panel .panel-lining.shift.down.backface {
  transform: translate(calc(var(--off-x) * 25 * -1px), calc(var(--off-y) * 25 * 1px)) rotateY(180deg);
}
.panel .panel-lining.backface {
  transform: translate(calc(var(--off-x) * 30 * -1px), calc(var(--off-y) * 30 * 1px)) scale(var(--scale)) rotateY(180deg);
  opacity: 0;
}
.panel:focus {
  -webkit-animation: flash 0.1s ease 1;
          animation: flash 0.1s ease 1;
}
.panel:hover, .panel.hovered {
  --text-color: rgb(0, 0, 0);
  background-color: rgba(var(--accent-rgb), 1);
  --scale: 1.03;
  transition: background-color 0.1s ease, color 0.1s ease, transform 0.1s ease;
}
.panel:hover [data-link], .panel.hovered [data-link] {
  color: white;
}
.panel:hover .shift.up [data-link], .panel.hovered .shift.up [data-link] {
  color: var(--ushift-color);
}
.panel:hover .shift.down [data-link], .panel.hovered .shift.down [data-link] {
  color: var(--dshift-color);
}
.panel:hover .bar-container .caption, .panel.hovered .bar-container .caption {
  height: 25px;
  opacity: 1;
}
.panel:hover::before, .panel.hovered::before {
  transform: translate(calc(var(--off-x) * -30 * -1px), calc(var(--off-y) * -30 * 1px)) scale(var(--scale));
  --scale: 1;
  background-color: hsl(var(--accent-hue), 70%, 70%);
  box-shadow: 0 0 10px hsl(var(--accent-hue), 70%, 70%);
  height: 108%;
  width: 108%;
  transition: background-color 0.1s ease, height 0.1s ease, width 0.1s ease;
}
.panel::before {
  transform: translate(calc(var(--off-x) * 30 * -1px), calc(var(--off-y) * 30 * 1px)) scale(var(--scale));
  background: repeating-linear-gradient(0deg, transparent 0%, rgb(0, 0, 0) 5px);
  -webkit-animation: background-scroll-down 10s linear var(--bg-anim-delay) infinite;
          animation: background-scroll-down 10s linear var(--bg-anim-delay) infinite;
  content: "";
  position: absolute;
  height: 105%;
  width: 105%;
  background-color: rgba(200, 200, 200, 0.3);
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.3);
  border-radius: 10px;
  filter: blur(1px);
  opacity: 1;
  transition: background-color 0.1s ease 0.4s, filter 0.1s ease 0.3s, height 0.1s ease 0.3s, width 0.1s ease 0.3s;
  mix-blend-mode: plus-lighter;
  z-index: -1;
}

.face {
  --off-x: 0;
  --off-y: 0;
  --rot-x: calc(var(--off-y) * 1rad);
  --rot-y: calc(var(--off-x) * 1rad);
  --trans-x: calc(calc(var(--off-x) * 150) * -1px);
  --trans-y: calc(calc(var(--off-y) * 150) * 1px);
  --scale: 1;
  --flip: 0;
  transform-origin: center center;
  transform: rotateX(var(--rot-x)) rotateY(var(--rot-y)) translate(var(--trans-x), var(--trans-y)) scale(var(--scale));
}

.icon {
  font-size: 60px;
  margin: 10px;
}

.bar-container {
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}
.bar-container .caption {
  display: inline-block;
  height: 0px;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}
.bar-container .bars {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 100%;
}
.bar-container .bars .bar {
  box-sizing: border-box;
  height: 8px;
  width: 100%;
  border: 2px solid;
  border-radius: 5px;
}
.bar-container .bars .bar.filled {
  border-width: 4px;
}
/*# sourceMappingURL=style.css.map */